*.elc
/.cache
/mess
/gnome
/tmp
/win
/smb
/src
/ipod
/irclogs
/music
/Music

/.gvfs
/.darcs/cache
/.conkeror.mozdev.org*
/.mozilla
/.emacs.d/lisp/darcsum
/.plt-scheme/*/doc
/.quack/srfi
/.zsh/cache
/.emacs.d/desktop
/.arch-cache
/.ccache
/.gconf
/.ipython
/.system
/.macromedia
/.thumbnails
/.local
/.mozilla-thunderbird
/.openoffice.org2
/.purple
/.slocdata


