!
! Emacs

Emacs.font:	Dejavu Sans Mono-9
Emacs.FontBackend: xft

!
! xterm
!
xterm*font: 	 -jmk-neep alt-medium-r-*-*-*-120-*-*-*-*-iso8859-15
xterm*foreground: black
xterm*background: white
XTerm.VT100.eightBitInput: false

!
! rxvt-unicode
!
URxvt.font: 	 -jmk-neep alt-medium-r-*-*-*-120-*-*-*-*-iso8859-15

URxvt*scrollBar_right: false
URxvt*scrollBar: false
URxvt*borderLess: true


! Adjust colors for white background
URxvt*color3: #edc100
URxvt*color11: #ffcf00
