xterm*font: 	 -jmk-neep alt-medium-r-*-*-*-120-*-*-*-*-iso8859-15
xterm*foreground: black
xterm*background: white

Rxvt.font: 	 -jmk-neep alt-medium-r-*-*-*-120-*-*-*-*-iso8859-15

Emacs.font:	Dejavu Sans Mono-9

Emacs.FontBackend: xft
